ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#box{
	width: 300px;
	margin:10px 100px;
}
ul{
	margin-bottom: 10px;
}
li{
	height: 30px;
	line-height: 30px;
	margin-bottom: 2px;
}
li:hover{
	background-color: gainsboro;
}
span{
	float: right;
}
a{
	margin-right: 10px;
}
.blue{
	background-color:lightblue;
}
.gray{
	background-color:gainsboro;
}
.white{
	background-color: white;
}
